*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(234, 225, 225); */
}
.left-box, .right-box{
    width: calc(50% - 10px); 
    height: 650px;
    background-color: rgb(139, 231, 231);
    border-radius: 20px;
    
    
}
h1{
    padding: 50px 195px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px 240px 20px;
}


.left-box input{
    width: 300px;
    height: 33px;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
}

.left-box label{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px;
    margin-left: 50px;
}
.left-box #save{
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 245px;
    font-size: 17px;
    background-color: rgb(227, 149, 180);
    border: none;
    border-radius: 20px;
}





@media screen and (max-width: 1000px){
    .left-box img{
        margin: 0px 150px 20px;
    }
    .left-box input{
        width: 210px;
    }
    .left-box #save{      
        margin-left: 200px;
    }
}

@media screen and (max-width: 830px){
    .left-box img{
        margin: 0px 110px 20px;
    }
    .left-box input{
        width: 185px;
    }
    .left-box #save{      
        margin-left: 150px;
    }
}
@media screen and (max-width: 767px){
    .container{
        display: block;
    }
    .left-box, .right-box{
        width: 100%;
        margin-bottom: 20px;
    }
    .left-box img{
        margin: 0px 210px 20px;
    }
    .left-box input{
        width: 250px;
    }
    .left-box label{
        margin-left: 100px;
    }
    .left-box #save{      
        margin-left: 240px;
    }
}
@media screen and (max-width: 767px){
    .left-box img{
        margin: 0px 150px 20px;
    }
    .left-box input{
        width: 250px;
    }
    .left-box label{
        margin-left: 40px;
    }
    .left-box #save{      
        margin-left: 190px;
    }
}
