*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 225, 225);
}
.left-box, .right-box{
    width: calc(50% - 10px); 
    height: 650px;
    background-color: rgb(139, 231, 231);
    border-radius: 20px;
    
    
}
h1{
    padding: 50px 195px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px 240px 20px;
}

.left-box table{
    margin: 0px 0px 0px 60px;
    /* border-spacing: 10px; */
}

.left-box table tr td{
    padding-bottom: 17px;
    
}
.left-box input{
    width: 300px;
    height: 33px;
    margin-left: 0px;
    border: none;
    border-radius: 20px;
}

.left-box label{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left-box #save{
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 245px;
    font-size: 17px;
    background-color: rgb(227, 149, 180);
    border: none;
    border-radius: 20px;
}

/*******************************Right-box *************************************************/
